<div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="5" data-dropzone-accepted-files="image/*, application/*" data-dropzone-max-files="3" data-upload-multiple="true">
  <%= form.file_field :color_pages, multiple: true, direct_upload: true, data: { dropzone_target: 'input' } %>
  <div class="dropzone-msg dz-message needsclick">
    <%= image_tag("drag and drop attachments.png", :style => "width: 240px;") %>
    <h3 class="dropzone-msg-title"> Drag here to upload or click here to browse </h3>
    <span class="dropzone-msg-desc"> 5 MB file size maximum. Allowed file types png, jpg. </span>
  </div>
</div>
